@media screen and (max-width:768px) {
  .active-drop {
    border: 1px solid #654a9b;
    border-radius: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 12px;
    right: 10px;
    height: 44px;
    overflow: hidden;
    transition: .3s ease;
    z-index: 10;
    background-color: #fff;
  }

  .active-drop:hover {
    height: 144px;
  }

  .chevron {
    transition: .3s ease;
  }

  .active-drop:hover .chevron {
    transform: rotate(180deg);
  }

}